
$primary: #d2691e;      
$secondary: #ff8c00;     
$success: #28a745;
$light: #fdf6f0;        
$dark: #3e2723;        


$info:      #b8ad17;
$danger:    #9a0a1a;

$font-family-sans-serif: 'Inter', sans-serif;


@import "~bootstrap/scss/bootstrap";