
$primary: #d2691e;      
$secondary: #ff8c00;     
$success: #28a745;
$light: #fdf6f0;        
$dark: #3e2723;        

$font-family-sans-serif: 'Inter', sans-serif;


@import "~bootstrap/scss/bootstrap";