.custom-list {
  list-style: none;
  padding-left: 20px;
}

.custom-list li::before {
  content: "🐾"; 
 color: rgb(0, 0, 0);
  font-weight: bold;
  margin-right: 10px;
}


/* .details-button {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 8px;
  background-color: #d26f19;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.details-button:hover {
  background-color: #c76006;
} */